.cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.text {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
    color: #c4c5c5;
    margin-bottom: 30px;
    text-align: center;
}

.signinWrapper {
    margin-top: 20px;
}

.hasInvite {
    color: #9000ff;
}