.button {
    background-color: #9000ff;
    padding: 10px 20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: #6a00bc;
}

.arrow {
    margin-left: 10px;
}